<div>
    <mat-table [dataSource]="dataSource" matSort >
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let volume"><button mat-stroked-button (click)="sendDataToDetails(volume)" [routerLink]="['/details-view', volume.id]">View Details</button></mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Network name</mat-header-cell>
        <mat-cell *matCellDef="let volume"> {{ volume.name }}</mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="desc">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
        <mat-cell *matCellDef="let volume"> {{ volume.desc }}</mat-cell>
      </ng-container> -->
      <ng-container matColumnDef="fullCapacity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Overall Capacity [GB]</mat-header-cell>
        <mat-cell *matCellDef="let volume"> {{ volume.fullCapacity }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="storageReserved">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Storage used [GB]</mat-header-cell>
        <mat-cell *matCellDef="let volume"> {{ volume.latestStorageReserved }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="storageFree">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Storage Free</mat-header-cell>
        <mat-cell *matCellDef="let volume"> {{ volume.latestStorageFree }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="storageRatio">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Free Capacity [GB]</mat-header-cell>
        <mat-cell *matCellDef="let volume"> {{ volume.latestStorageRatio }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="storageDesc">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Network description</mat-header-cell>
        <mat-cell *matCellDef="let volume"></mat-cell>
      </ng-container>
      <ng-container matColumnDef="storageLabel">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Drive mapping label</mat-header-cell>
        <mat-cell *matCellDef="let volume"></mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; let volume" [ngClass]="{'data-affected': row.storageRatio >= 75}" ></mat-row>
    </mat-table>
  </div>
  
  