<div class="container">
  <mat-card style="margin-top: 30px;">
    <mat-card-header>
      <mat-card-title>
        <h2 style="color: #db0a5b;">{{ volume.server.name }} - drive {{ volume.name }} </h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content style="margin-left: 20px;">
    <div class="row">
      <label class="col" for="name">Name</label>
      <span class="col">{{ volume.name }} </span>
    </div>
    <mat-divider></mat-divider>
    <!-- <div class="row">
      <label class="col" for="name">Description</label>
      <span name="desc" id="desc" class="col">{{ volume.desc }} </span>
      <button mat-stroked-button type="button" (click)="onEdit()">Edit</button>
    </div> -->
    <mat-divider></mat-divider>
    <div class="row">
      <label class="col" for="fullCapacity">Overall Capacity [GB]</label>
      <span class="col">{{ volume.fullCapacity }}</span>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
      <label class="col" for="storageReserved">Storage used [GB]</label>
      <span class="col">{{ volume.latestStorageReserved }}</span>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
      <label class="col" for="storageFree">Storage Free [GB]</label>
      <span class="col">{{ volume.latestStorageFree }}</span>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
      <label class="col" for="storageRatio">Free capacity [%]</label>
      <span class="col">{{ volume.latestStorageRatio }}</span>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
      <label for="cpuUsage" class="col">Cpu Usage [%]</label>
      <span class="col">{{ volume.server.cpuUsage }}</span>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
      <label for="server" class="col">Parent Server</label>
      <span class="col">{{ volume.server.name }}</span>
    </div>
    </mat-card-content>
    </mat-card>
    <div class="chart">
      <app-chart [chartData]="volume"></app-chart>
    </div>
    <button mat-stroked-button type="submit" routerLink="/servers">Back</button>
</div>
