<div class="container">
  <mat-card style="margin-top: 30px;">
    <mat-card-header>
      <mat-card-title>
        <h2 style="color: #db0a5b;">{{ volume.server.name }} - drive {{ volume.name }} </h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content style="margin-left: 20px;">
    <div class="row">
      <label class="col" for="name">Name</label>
      <span class="col">{{ volume.name }} </span>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
      <label class="col" for="fullCapacity">Overall Capacity [GB]</label>
      <span class="col">{{ volume.fullCapacity | number: '1.2-2' }}</span>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
      <label class="col" for="storageReserved">Storage used [GB]</label>
      <span class="col">{{ volume.latestStorageReserved | number: '1.2-2' }}</span>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
      <label class="col" for="storageFree">Storage Free [GB]</label>
      <span class="col">{{ volume.latestStorageFree | number: '1.2-2' }}</span>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
      <label class="col" for="storageRatio">Free capacity [%]</label>
      <span class="col">{{ volume.latestStorageRatio | number: '1.2-2' }}</span>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
      <label for="cpuUsage" class="col">Cpu Usage [%]</label>
      <span class="col">{{ volume.server.cpuUsage | number: '1.2-2' }}</span>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
      <label for="server" class="col">Parent Server</label>
      <span class="col">{{ volume.server.name }}</span>
    </div>
    <div class="row">
      <label class="col">Network Description</label>
      <span *ngIf="!isDescEdit" class="col">{{ volume.desc }}</span>
      <input class="col" *ngIf="isDescEdit" matInput type="text" [(ngModel)]="volume.desc">
      <button *ngIf="!isDescEdit" mat-icon-button (click)="onDescEdit()" aria-label="Edit"><mat-icon>edit</mat-icon></button>
      <button *ngIf="isDescEdit" mat-icon-button (click)="onSave()" aria-label="Save"><mat-icon>save</mat-icon></button>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
      <label class="col">Drive mapping label</label>
      <span *ngIf="!isLabelEdit" class="col">{{ volume.mappingLabel }}</span>
      <input class="col" *ngIf="isLabelEdit" matInput type="text" [(ngModel)]="volume.mappingLabel">
      <button *ngIf="!isLabelEdit" mat-icon-button (click)="onLabelEdit()" aria-label="Edit"><mat-icon>edit</mat-icon></button>
      <button *ngIf="isLabelEdit" mat-icon-button (click)="onSave()" aria-label="Save"><mat-icon>save</mat-icon></button>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
      <label class="col">Server/Network description</label>
      <span *ngIf="!isServerEdit" class="col">{{ volume.server.networkDesc }}</span>
      <input type="text" *ngIf="isServerEdit" matInput class="col" [(ngModel)]="volume.server.networkDesc">
      <button *ngIf="!isServerEdit" mat-icon-button (click)="onServerEdit()" aria-label="Edit"><mat-icon>edit</mat-icon></button>
      <button *ngIf="isServerEdit" mat-icon-button (click)="onSave()" aria-label="Save"><mat-icon>save</mat-icon></button>
    </div>
    </mat-card-content>
    </mat-card>
    <div class="chart">
      <app-chart [chartData]="volume"></app-chart>
    </div>
    <button style="margin-bottom: 20px;" mat-stroked-button type="submit" routerLink="/servers">Back</button>
</div>
