<div>
    <table style="width: 75%;">
        <tr>
            <th>Number of serves</th>
            <th>Overall Capacity [GB]</th>
            <th>Storage used [GB]</th>
            <th>Storage free [GB]</th>
            <th>Free capacity [%]</th>
        </tr>
        <tr>
            <td>{{ server.numberOfServers }}</td>
            <td>{{ server.totalCapacity}}</td>
            <td>{{ server.totalCapacityUsed }}</td>
            <td>{{ server.totalCapacityFree }}</td>
            <td>{{ server.totalUsedCapacityRatio }}</td>
        </tr>
    </table>
    <button mat-stroked-button  [routerLink]="['/servers']">View Details</button>
</div>