<div class="container">
    <div class="left">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Server Overview</mat-card-title>
                <mat-card-subtitle>Details of total server overview</mat-card-subtitle>
            </mat-card-header>
            <div class="container">
                <!-- <img style="margin-right: 15px;" src="assets/img/serverIcon.png" alt="serverIcon" height="50"> -->
                <span><b>Count: </b>{{ server.numberOfServers}} </span>
            </div>
            <mat-divider></mat-divider>
            <div class="container">
                <span><b>Overall capacity [GB]: </b>{{ server.totalCapacity | number: '1.2-2' }}</span>
            </div>
            <mat-divider></mat-divider>
            <div class="container">
                <span><b>Storage used [GB]: </b>{{ server.totalCapacityUsed | number: '1.2-2' }}</span>
            </div>
            <mat-divider></mat-divider>
            <div class="container">
                <span><b>Storage free [GB]: </b>{{ server.totalCapacityFree | number: '1.2-2' }}</span>
            </div>
            <mat-divider></mat-divider>
            <div class="container">
                <span><b>Storage ratio used [%]: </b>{{ server.totalUsedCapacityRatio | number: '1.2-2' }}</span>
            </div>
        </mat-card>
        <!-- <div class="container button-div">
            <button mat-stroked-button [routerLink]="['/servers']">View Servers</button>
        </div> -->
    </div>
    <div class="right">
        <app-pie-chart></app-pie-chart>
    </div>
</div>
