<div>
  <table style="margin: 20px;" mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Server name</th>
      <td mat-cell *matCellDef="let server"> {{ server.name }}</td>
    </ng-container>
    <ng-container matColumnDef="fullCapacity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Overall Capacity [GB]</th>
      <td mat-cell *matCellDef="let server"> {{ server.fullCapacity }}</td>
    </ng-container>
    <ng-container matColumnDef="storageReserved">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Storage used [GB]</th>
      <td mat-cell *matCellDef="let server"> {{ server.latestStorageReserved }}</td>
    </ng-container>
    <ng-container matColumnDef="storageFree">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Storage Free [GB]</th>
      <td mat-cell *matCellDef="let server"> {{ server.latestStorageFree }}</td>
    </ng-container>
    <ng-container matColumnDef="storageRatio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Free Capacity [%]</th>
      <td mat-cell *matCellDef="let server"> {{ server.latestStorageRatio }}</td>
    </ng-container>
    <ng-container matColumnDef="storageRam">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>RAM [GB]</th>
      <td mat-cell *matCellDef="let server">{{ server.ram }}</td>
    </ng-container>
    <ng-container matColumnDef="storageRamUsage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>RAM Usage [%]</th>
      <td mat-cell *matCellDef="let server">{{ server.ramUsage }}</td>
    </ng-container>
    <ng-container matColumnDef="storageCpuUsage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CPU Usage [%]</th>
      <td mat-cell *matCellDef="let server">{{ server.cpuUsage }}</td>
    </ng-container>
    <ng-container matColumnDef="storageDesc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Server/network description</th>
      <td mat-cell *matCellDef="let server"></td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let server" [attr.colspan]="displayedColumns.length">
        <div class="element-detail"
            [@detailExpand]="server == expandedElement ? 'expanded' : 'collapsed'">
            <app-volume-list [server]="server"></app-volume-list>
          </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
    matRipple
    class="element-row"
    [ngClass]="{'data-affected': row.storageRatio >= 75}"
    [class.expanded-row]="expandedElement === row"
    (click)="expandedElement = expandedElement === row ? null : row"></tr>

    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
    class="detail-row"></tr>
  </table>
</div>

