table {
  width: 100%;
}

.data-affected {
  background-color: lightpink;
}

.button {
  margin-left: 20px;
  margin-top: 30px;
}

.detail-row {
  height: 0;
}

.element-row:not(.expanded-row):hover {
  background: #777;
}

.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td{
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  width: 100%;
}

td {
  text-align: center;
}